page-home {

  ion-item {
    padding: 0px;
    ion-thumbnail {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .item ion-thumbnail {
    min-width: 5rem;
    min-height: 5rem;
    img {
      width: calc(306px / 4);
      height: calc(270px / 4);
    }
  }
}
