<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{base.name}}の素材一覧</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="base-chara flex-container" padding>
    <img [src]="'./assets/chara-image-icon/'+base.id + '.png'">
    <div>
      <div>
        {{base.childList}}
      </div>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of list;" text-wrap>
      <div class="flex-container">
        <img [src]="'./assets/chara-image-icon/'+item.id + '.png'">

        <div [ngSwitch]="item.type">
          <div *ngSwitchCase="TYPE_PARENT">
            {{item.name}} ×{{item.num}} ※
            <p>
              <small>{{item.childList}}</small>
            </p>
          </div>
          <div *ngSwitchCase="TYPE_BATTLE_COIN">
            {{item.name}} ×{{item.num}}
            <p>
              <small>{{item.battleCoin}} {{item.how}}</small>
            </p>
          </div>
          <div *ngSwitchCase="TYPE_NOT_BATTLE_COIN">{{item.name}} ×{{item.num}}
            <p>
              <small>{{item.how}}</small>
            </p>
          </div>
        </div>
        <div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div>
    <ul>
      <li *ngFor="let item of commentList;">
        {{item}}
      </li>
    </ul>
  </div>
</ion-content>
