<!--
  Generated template for the MaterialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{base.name}}の素材一覧</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let item of list;">
      <ion-thumbnail item-start>
        <img [src]="'./assets/chara-image-icon/'+item.id + '.png'">
      </ion-thumbnail>

      <h2 *ngIf="item.battleCoin > 0; then thenBlock; else elseBlock;"></h2>
      <ng-template #thenBlock>{{item.name}}({{item.how}}{{item.battleCoin}}×{{item.num}})</ng-template>
      <ng-template #elseBlock>{{item.name}}({{item.how}}×{{item.num}})</ng-template>

    </ion-item>
  </ion-list>
</ion-content>
